@import "tailwindcss";

body,html{
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: 'tel';
  src: url('/font/huangkaihuaLawyerfont-2.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}